[Unit]
Description=Battery-check timer
Wants=default.target
After=default.target

[Timer]
OnActiveSec=1min
OnUnitActiveSec=3min
Unit=battery.service

[Install]
WantedBy=default.target
