@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*#TabsToolbar {
  background-color: #F8F8F8 !important;
  margin-bottom: -1 !important;
  border-bottom: none !important;
  border-top: none !important;
}*/

/*#TabsToolbar .arrowscrollbox-scrollbox {
  padding: 0 !important;
}*/

#nav-bar-customization-target, #PanelUI-button, #editor-tools, #main-area {
  background-color: #373B41 !important;
}

#TabsToolbar .tabbrowser-tabs {
  min-height: 28px !important;
  background-color: #1d1f21;
}

#TabsToolbar .tab-stack {
  min-height: 28px !important;
}

#TabsToolbar .tabbrowser-tab {
  -moz-border-top-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  color: #ffffff !important;
  background: #1d1f21 !important;
  background-clip: padding-box !important;
  transition: all .1s !important;
}

#TabsToolbar .tabs-newtab-button, #new-tab-button, #alltabs-button {
  display: none !important;
}

.scrollbutton-up, .scrollbutton-down, .arrowscrollbox-overflow-start-indicator, .arrowscrollbox-overflow-end-indicator {
  display: none !important;
}

/*#TabsToolbar .tabbrowser-tab[first-tab][last-tab], #TabsToolbar .tabbrowser-tab[last-visible-tab] {
  border-right-width: 0px !important;
}*/

#TabsToolbar .tabbrowser-tab[selected] {
  color: #ffffff !important;
  border-style: none !important;
  border-color: white !important;
  border-width: 1px 1px 0 1px !important;
  background-color: #373B41 !important;
  box-shadow: none !important;
}

#TabsToolbar .tabs-newtab-button:hover, #TabsToolbar .tabbrowser-tab:hover:not([selected]) {
  border-color: #282A2E !important;
  background-color: #282A2E !important;
}

/*#TabsToolbar .tab-background {
  margin: 0 !important;
  background: transparent !important;
}*/

#TabsToolbar .tab-background-start, #TabsToolbar .tab-background-end {
  display: none !important;
}

#TabsToolbar .tab-background-middle {
  margin: -1px -2px !important;
  background: transparent !important;
}

/*#TabsToolbar .tabbrowser-tab:after, #TabsToolbar .tabbrowser-tab:before {
  display: none !important;
}*/

/*#TabsToolbar .tabs-newtab-button {
  border-width: 1px 1px 0 1px !important;
  margin: 0 !important;
  width: auto !important;
  padding: 0 5px !important;
}*/

#nav-bar {
  border-bottom: none !important;
  box-shadow: none !important;
}

/*#ctraddon_puib_separator {
  visibility: hidden !important;
}*/

#main-window[defaultfxtheme="true"] #nav-bar #urlbar-wrapper #urlbar, #customizableui-special-spring1, #personal-bookmarks, #navigator-toolbox {
  background: #373B41 !important;
  color: #DCDCDC !important;
}

#urlbar {
  border: none !important;
  border-radius: 0 !important;
  background-color: #1D1F21 !important;
}

/*toolbarbutton {
  opacity: 0.8 !important;
}*/

/*#notification-popup-box {
  background: none !important;
  border: none !important;
}*/

/*#identity-box.verifiedIdentity {
  background: none !important;
}*/
