@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#tabbrowser-tabs, #alltabs-button{
  background-color: #1D1F21 !important;
  color: white !important;
}


/* Compact bookmark bar */

#nav-bar {
  padding: 0px;
}

#personal-bookmarks {
  min-height: 24px;
  max-height: 30px;
}

#PersonalToolbar {
  margin-top: -9px;
}

.bookmark-item[scheme="javascript"] > .toolbarbutton-icon {
    display: none;
}

.toolbarbutton-text {
  font-size: 12px;
}

#personal-bookmarks .toolbarbutton-menu-dropmarker {
  display: none !important;
}

/* Adjusts colour of drop-down menus in text fields */

/*.autocomplete-treerows.tree-rows{
  background-color:#ffffff!important;
  color:#000000!important;
}*/

/* Adjusts colours of background and text in bookmark menus and addons menus */

/*#PlacesToolbarItems .arrowscrollbox-scrollbox > .box-inherit.scrollbox-innerbox, #cookiesafe-button-menupopup .arrowscrollbox-scrollbox > .box-inherit.scrollbox-innerbox, #cookiesafe-menupopup .arrowscrollbox-scrollbox > .box-inherit.scrollbox-innerbox, #noscript-tbb-popup .arrowscrollbox-scrollbox > .box-inherit.scrollbox-innerbox, #https-everywhere-context .arrowscrollbox-scrollbox > .box-inherit.scrollbox-innerbox, #PlacesToolbarItems .autorepeatbutton-up, #PlacesToolbarItems .autorepeatbutton-down, #PanelUI-contents .box-inherit.scrollbox-innerbox, #stylish-popup .box-inherit.scrollbox-innerbox, #UIEnhancer_Main_Popup .popup-internal-box, #noscript-tbb-popup .autorepeatbutton-down, #noscript-tbb-popup .autorepeatbutton-up{
  border: 0.5px solid #a8a8a8 !important;
  background-color: #DEDEDE !important;
}*/

/*#BMB_bookmarksPopup .panel-arrowcontent, #PanelUI-contents, #PanelUI-contents-scroller, #downloadsPanel .panel-arrowcontent, #BMB_bookmarksPopup .box-inherit.scrollbox-innerbox, #PanelUI-helpItems, #PanelUI-helpItems .subviewbutton, .PanelUI-subView .panel-subview-header, #BMB_bookmarksPopup .autorepeatbutton-up, #BMB_bookmarksPopup .autorepeatbutton-down, #PanelUI-history .panel-subview-body{
  background-color: white !important;
  color: black !important;
}*/

/*#tabsList richlistitem{
  background-color: #DEDEDE !important;
}*/

/*#BMB_bookmarksToolbarPopup .box-inherit.scrollbox-innerbox, #BMB_unsortedBookmarksPopup .box-inherit.scrollbox-innerbox{
  border: 0.5px solid #a8a8a8 !important;
}*/

/*
#PlacesToolbarItems .bookmark-item, #PlacesToolbarItems menupopup > menu, #PlacesToolbarItems menupopup > menuitem, #cookiesafe-button-menupopup menu, #cookiesafe-button-menupopup menuitem, #cookiesafe-menupopup menu, #cookiesafe-menupopup menuitem, #noscript-tbb-popup menu, #noscript-tbb-popup menuitem, #PanelUI-contents menupopup > menu, #PanelUI-contents menupopup > menuitem, #stylish-popup menu, #stylish-popup menuitem, #UIEnhancer_Main_Popup menuitem, #downloadsHistory label{
  color: black !important;
}
*/

/*Sets white text at hover in menus*/

/*#PlacesToolbarItems menupopup > menu[_moz-menuactive="true"], #PlacesToolbarItems menupopup > menuitem[_moz-menuactive="true"], #cookiesafe-button-menupopup menu[_moz-menuactive="true"], #cookiesafe-button-menupopup menuitem[_moz-menuactive="true"], #cookiesafe-menupopup menu[_moz-menuactive="true"], #cookiesafe-menupopup menuitem[_moz-menuactive="true"], #noscript-tbb-popup menu[_moz-menuactive="true"], #noscript-tbb-popup menuitem[_moz-menuactive="true"], #PanelUI-contents menupopup > menu[_moz-menuactive="true"], #PanelUI-contents menupopup > menuitem[_moz-menuactive="true"], #stylish-popup menu[_moz-menuactive="true"], #stylish-popup menuitem[_moz-menuactive="true"], #UIEnhancer_Main_Popup menuitem[_moz-menuactive="true"], #lpt_lastpass-compact-menu-main-vbox menu[_moz-menuactive="true"], #lpt_lastpass-compact-menu-main-vbox menuitem[_moz-menuactive="true"]{
  color: white !important;
}*/

/*Overrides hover event for disabled items, and sets them to grey*/

#PlacesToolbarItems menupopup > menu[disabled="true"], #PlacesToolbarItems menupopup > menuitem[disabled="true"], #nav-bar menupopup > menu[disabled="true"], #nav-bar menupopup > menuitem[disabled="true"], #PanelUI-contents menupopup > menu[disabled="true"], #PanelUI-contents menupopup > menuitem[disabled="true"], #stylish-popup menu[disabled="true"], #stylish-popup menuitem[disabled="true"], #UIEnhancer_Main_Popup menuitem[disabled="true"]{
  color: gray !important;
}

/*Applies filter operation to menu arrows, to turn them black*/

#PlacesToolbarItems .menu-right, #cookiesafe-button-menupopup .menu-right, #noscript-tbb-popup .menu-right, #PanelUI-contents .menu-right, #stylish-popup .menu-right{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
}

/*Applies filter operation to menu arrows on hover. Not sure if just putting 255 all over the matrix is the best way to get white, but it works.*/

/*#PlacesToolbarItems .menu-right[_moz-menuactive="true"], #cookiesafe-button-menupopup .menu-right[_moz-menuactive="true"], #noscript-tbb-popup .menu-right[_moz-menuactive="true"], #PanelUI-contents .menu-right[_moz-menuactive="true"], #stylish-popup .menu-right[_moz-menuactive="true"]*//*, .panel-arrow*//*#lpt_lastpass-compact-menu-main-vbox .menu-iconic-left[_moz-menuactive="true"], #lpt_lastpass-compact-menu-main-vbox menu[_moz-menuactive="true"] > .menu-iconic-left*//*#context-navigation  .menu-iconic-left[_moz-menuactive="true"]{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '255.0 255.0 255.0 255.0 255.0 \
    255.0 255.0 255.0 255.0 255.0 \
    255.0 255.0 255.0 255.0 255.0 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
}*/

/*Applies filter operation to menu arrows of disabled items, to turn them black with 30% opacity*/

#PlacesToolbarItems .menu-right[disabled="true"], #cookiesafe-button-menupopup .menu-right[disabled="true"], #noscript-tbb-popup .menu-right[disabled="true"], #PanelUI-contents .menu-right[disabled="true"], #stylish-popup .menu-right[disabled="true"]/*, #context-navigation  .menu-iconic-left[disabled="true"]*/{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 0.30 0.0'/></filter></svg>#invert") !important;
}

/*Applies filter operation to autoscroll arrows, to turn them black with 55% opacity*/

/*#PlacesToolbarItems .autorepeatbutton-icon{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 0.0 0.0 \
    0.0 0.0 0.0 0.55 0.0'/></filter></svg>#invert") !important;
}*/

/*Hides addon dropdown arrows*/

#nav-bar .toolbarbutton-menu-dropmarker{
    display: none !important;
}

/*.autocomplete-richlistbox {background:white} /* White background in superbar drop-down */
/*.ac-title-box {color:black!important} /* Dark text color in superbar drop-down */
/*.ac-normal-text.ac-url-text {color: #0066CC;}
.ac-normal-text.ac-action-text {color: #0066CC;}*/

/* Below is the hover event for the items in the superbar drop-down menu */

/*@media not all and (-moz-windows-default-theme){
  .ac-comment[selected="true"],
  .ac-action-text[selected="true"]{
    color: white !important;
  }
}*/

/* Adjusts text allignment and seperator size in bookmark menus */
/*
.menu-iconic.bookmark-item > .menu-iconic-text, .openintabs-menuitem > .menu-iconic-text, .openlivemarksite-menuitem > .menu-iconic-text, .subviewbutton > .menu-iconic-text{  
  margin-left: -19px !important;
}

#BMB_viewBookmarksToolbar .subviewbutton > .menu-iconic-left > .menu-iconic-icon{
  visibility: hidden !important;
}

.menuitem-iconic.bookmark-item.menuitem-with-favicon.subviewbutton > .menu-iconic-text{
    margin-left: 0px !important;
}

.bookmarks-actions-menuseparator, .small-separator, menuseparator{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}*/
