:root {
	--main-bg-color: #1D1F21;
	--main-hl-color: #282A2E;
	--main-ac-color: #85678F;
	--main-tx-color: #C5C8C6;
	--hl-tx-color: #FFFFFF;
	--action-tx-color: #5F819D;
	--fill-color: #B5BD68;
	--alt-ac-color: #57455D;
}
