/*Set newtab page background*/
@-moz-document url("about:newtab") { body{background-color: #1D1F21 !important;} }

::-moz-selection {
color: #FFFFFF !important;  /*Colour of text*/
background: #584181 !important;  /*Highlighting colour*/
}

/*Extension styles*/
/*ublock origin*/ 
@-moz-document url-prefix("moz-extension://c60a2234-9f87-46e3-b5d3-21aac84805b7/") {
	body { background-color: #222 !important; color: #ccc !important; }
	a { color: #8ad !important; }
	h2 { background-color: #444 !important; color: #eee !important; }
	code { background-color: #555 !important; }
	#switch .fa { color: #369 !important; }
	body.off #switch .fa { color: #555 !important; }
	.tool { color: #999 !important; }
	.tool.enabled:hover { color: #8ad !important; }
	.permatoolbar { background-color: #333 !important; }
	.permatoolbar .button { background-color: #444 !important; }
	.permatoolbar .button:hover { background-color: #666 !important; }
	#tooltip { background-color: #ccc !important; border: 1px solid #111 !important; color: #111 !important; }
	#firewallContainer > div { background-color: #333 !important; }
	#firewallContainer > div:hover { background-color: #444 !important; }
	#firewallContainer > div > span { color: #eee !important; border-bottom: 1px solid #111 !important; }
	#firewallContainer > div > span:first-of-type ~ span { border-left: 1px solid #111 !important; }
	#extraTools { background-color: #444 !important; }
	#extraTools > span:hover { color: #8ad !important; }
	#dashboard-nav-widgets { background-color: #111 !important; border-bottom: 1px solid #666 !important; }
	.tabButton { background-color: #444 !important; border: 1px solid #666 !important; border-bottom: 1px solid #666 !important; color: #eee !important; }
	.tabButton.selected { background-color: #222 !important; border-bottom: 1px solid #222 !important; }
	#diff li { background-color: #555 !important; }
	#diff li:nth-child(even) { background-color: #666 !important; }
	#diff textarea { background-color: #333 !important; color: #ccc !important; }
}

/*cookueautocomplete (prototype)*/
@-moz-document url-prefix("moz-extension://eceaf796-a6b5-4974-9e5b-c3e9521d67d3/") {
	body { background-color: #222 !important; color: #ccc !important; }
	a { color: #8ad !important; }
	h2 { background-color: #444 !important; color: #eee !important; }
	code { background-color: #555 !important; }
	#switch .fa { color: #369 !important; }
	body.off #switch .fa { color: #555 !important; }
	.tool { color: #999 !important; }
	.tool.enabled:hover { color: #8ad !important; }
	.permatoolbar { background-color: #333 !important; }
	.permatoolbar .button { background-color: #444 !important; }
	.permatoolbar .button:hover { background-color: #666 !important; }
	#tooltip { background-color: #ccc !important; border: 1px solid #111 !important; color: #111 !important; }
	#firewallContainer > div { background-color: #333 !important; }
	#firewallContainer > div:hover { background-color: #444 !important; }
	#firewallContainer > div > span { color: #eee !important; border-bottom: 1px solid #111 !important; }
	#firewallContainer > div > span:first-of-type ~ span { border-left: 1px solid #111 !important; }
	#extraTools { background-color: #444 !important; }
	#extraTools > span:hover { color: #8ad !important; }
	#dashboard-nav-widgets { background-color: #111 !important; border-bottom: 1px solid #666 !important; }
	.tabButton { background-color: #444 !important; border: 1px solid #666 !important; border-bottom: 1px solid #666 !important; color: #eee !important; }
	.tabButton.selected { background-color: #222 !important; border-bottom: 1px solid #222 !important; }
	#diff li { background-color: #555 !important; }
	#diff li:nth-child(even) { background-color: #666 !important; }
	#diff textarea { background-color: #333 !important; color: #ccc !important; }
}


