@import "./colors.css";

/*** Variables ***/
:root {
	/* Number of pixels of enlargement when URL bar is focused */
	--mbarstyler-popout-pixels: 2px; /* [0px - 7px] */
}

/*** URL bar enlargement or lack thereof ***/
/* Compute new position, width, and padding */
#urlbar[breakout][breakout-extend] {
	top: calc(5px - var(--mbarstyler-popout-pixels)) !important;
	left: calc(0px - var(--mbarstyler-popout-pixels)) !important;
	width: calc(100% + (2 * var(--mbarstyler-popout-pixels))) !important;
	padding: var(--mbarstyler-popout-pixels) !important;
}
[uidensity="compact"] #urlbar[breakout][breakout-extend] {
	top: calc(3px - var(--mbarstyler-popout-pixels)) !important;
}
[uidensity="touch"] #urlbar[breakout][breakout-extend] {
	top: calc(4px - var(--mbarstyler-popout-pixels)) !important;
}

/* Prevent shift of URL bar contents */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
	height: var(--urlbar-height) !important;
	padding: 0 !important;
}

/* Clean up extra spacing at the top and bottom */
#urlbar-results {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/*** GENERAL UI ***/
/* Set selection colour */
#main-window ::-moz-selection {
	background-color: var(--main-ac-color) !important;
	color: var(--hl-tx-color) !important;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Set loading background */
browser {
	background: var(--main-bg-color);
}

/* Set main UI accent color */
#nav-bar-customization-target, #nav-bar-overflow-button, #PanelUI-button {
	background: var(--main-ac-color) !important;
}

/* Set URL text colour */
#urlbar-input-container {
	background-color: var(--main-bg-color) !important;
}

/*** TABBAR ***/
/* Hide tabs */
#TabsToolbar {
	visibility: collapse !important;
}

/*** SIDEBAR ***/
/* Remove header */
#sidebar-header, #sidebar-search-container {
	display: none !important;
}

/* Minimse splitter */
#sidebar-splitter {
	width: 0px !important;
	border-color: var(--main-bg-color) !important;
}

/* Set sidebar bookmark colours */
#bookmarks-view {
	color: var(--main-tx-color) !important;
	background: var(--main-bg-color) !important;
}

/* Highlight row on hover in bookmarks sidebar */
#bookmarks-view treechildren::-moz-tree-row(hover) {
	background: var(--main-hl-color);
}

/* Set sidebar row height */
.sidebar-placesTree treechildren::-moz-tree-row {
	height: 18px !important;
	min-height: 18px !important;
}

/* Hide sidebar on fullscren */
#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
	display: none !important;
	width: 0px !important;
}
