@import "./colors.css";

/*GENERAL UI*/

/*Set selection color*/
#main-window ::-moz-selection {
background-color: var(--main-ac-color) !important;
color: var(--hl-tx-color) !important;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*Set loading background*/
browser {
	background: var(--main-bg-color);
}

/*Main UI accent color*/
#nav-bar-customization-target, #nav-bar-overflow-button, #PanelUI-button {
	background: var(--main-ac-color) !important;
	color: var(--hl-tx-color);
}

/*Button hover appearance*/
#nav-bar .toolbarbutton-icon,
#nav-bar .toolbarbutton-badge-stack {
  border-radius: 0px !important;
  --toolbarbutton-hover-background: var(--main-hl-color) !important;
  --toolbarbutton-active-background: var(--main-bg-color) !important;
}

/*TABBAR*/

/* Hide blue stripe on active tab */
.tab-line {
  opacity: 0 !important;
}

/*Tab colors*/
#TabsToolbar, #tabbrowser-tabs {
	background: var(--main-bg-color) !important;
  color: var(--main-tx-color) !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]) {
  background: var(--main-hl-color) !important;
}

.tab-background[selected="true"] {
  background: var(--main-ac-color) !important;
}

tab.tabbrowser-tab[selected="true"] {
  color: var(--hl-tx-color) !important;
}

/*Hide close buttons*/
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
  visibility: hidden !important;
  display: block !important;
  opacity: 0 !important;
  -moz-margin-end: -16px !important;
}

/*Hide new tab button*/
#new-tab-button,.tabs-newtab-button {
  visibility: collapse !important;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab[pinned] .tab-close-button {
  visibility: hidden !important;
  display: block !important;
  opacity: 0 !important;
  -moz-margin-start: -18px !important;
}

/*Hide overflow shadows*/
#TabsToolbar .arrowscrollbox-overflow-start-indicator, #TabsToolbar .arrowscrollbox-overflow-end-indicator {
  display: none !important;
}

/*Hide alltabs button*/
#alltabs-button {
  display: none;
}

/*Button hover appearance*/
#TabsToolbar-customization-target.customization-target toolbarbutton {
  border-radius: 0px !important;
  --toolbarbutton-hover-background: var(--main-hl-color) !important;
  --toolbarbutton-active-background: var(--main-hl-color) !important;
}

/*URL BAR*/

/*Url bar border settings*/
.searchbar-textbox, #urlbar {
  border-radius: 0px !important;
  border-color: var(--main-bg-color) !important;
}

/*Url bar color*/
:-moz-any(#urlbar, .searchbar-textbox) {
  background-color: var(--main-bg-color) !important;
  color: lightgrey !important;
}

:-moz-any(#urlbar, .searchbar-textbox) ::-moz-selection {
  background: white !important;
  color: var(--main-bg-color) !important;
}

#identity-box:hover, .urlbar-icon:hover {
  background: var(--main-hl-color) !important;
}

#identity-icon{
  opacity: 1 !important;
}

/*Url bar autocomplete and downloads background*/
#appMenu-mainView, .PanelUI-subView {
  background: var(--main-hl-color) !important;
}

#urlbar-results, #downloadsPanel-mainView, #widget-overflow-mainView {
  background: var(--main-bg-color) !important;
}

/*Set download fill color*/
#downloads-button[attention="success"] > #downloads-indicator-anchor > #downloads-indicator-icon,
#downloads-button[attention="success"] > #downloads-indicator-anchor > #downloads-indicator-progress-outer {
	fill: var(--fill-color) !important;
}

/*Autocomplete highlight box*/
.urlbarView-row[selected] {
  border-radius: 0px !important;
  background: var(--main-ac-color) !important;
}

/*Autocomplete hover box*/
.urlbarView-row:hover {
  border-radius: 0px !important;
}

/*MENUBAR*/

#toolbar-menubar {
	background: var(--main-hl-color);
	color: var(--hl-tx-color);
}

/*SIDEBAR*/

/*Sidebar settings*/
#sidebar-header, #sidebar-search-container {
  display: none !important;
}

#sidebar-splitter {
  width: 0px !important;
  border-color: var(--main-bg-color) !important;
}

#bookmarks-view {
  color: var(--main-tx-color) !important;
  background: var(--main-bg-color) !important;
}

/*Highlight row on hover in bookmarks sidebar*/
#bookmarks-view treechildren::-moz-tree-row(hover) {
	background: var(--main-hl-color);
}

/*Set sidebar row height*/
.sidebar-placesTree treechildren::-moz-tree-row {
    height: 18px !important;
    min-height: 18px !important;
}