/* SIDEBAR */
#main .inner {
    position: relative;
}
#panels-container {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
}
.address-top.bookmark-bar-bottom #panels-container,
.address-top.bookmark-bar-off #panels-container {
    top: 1px;
}
#panels-container.right {
    right: 0;
}
#panels-container.left + #webview-container, #panels-container.left ~ #tabs-container.left {
    margin-left: 34px;
}
#panels-container.right ~ #webview-container, #panels-container.right ~ #tabs-container.right {
    margin-right: 34px;
}
#browser.tabs-right #webview-container {
    margin-right: 0;
}
#panels-container.left.switcher + #webview-container, #panels-container.left.switcher ~ #tabs-container.left {
    margin-left: 0;
}
#panels-container.right.switcher ~ #webview-container, #panels-container.right.switcher ~ #tabs-container.right {
    margin-right: 0;
}
#browser.tabs-right #webview-container {
    margin-right: 0;
}
#browser.fullscreen #webview-container, #browser.fullscreen #tabs-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#browser.fullscreen #panels-container {
    position: relative;
}

/* floaty find in page */
.find-in-page + .devtools-container .webpage { top: 0px !important }
