:root {
	--main-bg-color: #1D1F21;
	--main-hl-color: #282A2E;
	--main-ac-color: #85678F;
	--main-tx-color: #C5C8C6;
	--alt-ac-color: #57455D;
	--hl-tx-color: #FFFFFF;
	--tab-size: 32px !important;
	--multiselected-color: var(--main-ac-color); /* Set highlighter colour */
}

/*** SIDEBAR ***/
/* Set background of sidebar */
:root.sidebar #background {
	background: var(--main-bg-color);
}

/* Hide new tab button */
.newtab-button-box {
	display: none;
}
#tabbar {
	bottom: 0 !important; /* Eliminate dead space on bottom */
}

/*** TABS ***/
/* Change the tab height */
tab-item {
	height: var(--tab-size);
}

/* Change tab borders */
tab-item, tab-item.pinned {
	border: solid 1px var(--main-bg-color);
}

/* Separate pinned and non-pinned tabs using a border */
#tabbar {
	border-top: solid 13px var(--main-bg-color) !important;
}

/* Hide highlighter thingie */
tab-item .highlighter {
	display: none;
}
tab-item {
	padding-left: 0px !important; /* Reduce space due to hidden highlighter */
}

/* Hide tab close button */
tab-item tab-closebox {
	display: none;
}

/* Set tab counter opacity */
tab-item .counter {
	opacity: 0.7 !important;
}

/* Set main label colour */
tab-item .label {
	color: var(--main-tx-color);
}

/* Set active tab background colour */
tab-item.active {
	background-color: var(--main-ac-color);
}

/* Set active tab label colour */
tab-item.active .label {
	color: var(--hl-tx-color);
}

/* Set unread tab label font */
tab-item.unread .label {
	font-style: italic;
}

/* Change styling of the favicon of pending (unloaded) tabs */
tab-item.discarded tab-favicon {
	opacity: 0.5 !important;
}

/* Set burster (finished loading animation) colour */
tab-item .burster {
	--throbber-color: var(--main-ac-color);
}
